<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block menu %}
<div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:5em;" id="menu-content">
    <ul class="list-reset">
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'floors' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">             
            <span class="pb-1 md:pb-0 text-sm">Floors</span>      
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'zones' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:border-red-500 lg:hover:border-red-500">
            <span class="pb-1 md:pb-0 text-sm text-gray-900 font-bold">Zones</span>   
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'walls' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm">Walls</span>   
          </a>
       </li>
       <li class="py-2 md:my-0 hover:bg-red-100 lg:hover:bg-transparent">
          <a href="{% url 'columns' %}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-red-500 border-l-4 border-transparent lg:hover:border-gray-400">
            <span class="pb-1 md:pb-0 text-sm">Columns</span>   
          </a>
       </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<h1 class="text-3xl text-slate-900 font-extrabold dark:text-slate-200">Zones</h1>

    <br />
    <button type="submit"><a href="{% url 'newzone' %}">Create new zone</a></button>
    <br />
    <br />
    <p>Here are your Zones:</p>
        {% if zones %}
                <ul>
                    {% for zone in zones %}
                    <blockquote class="border-l-4 border-red-500 my-8 pl-8 md:pl-12">
                        <li>
                            <div class = "row">
                                <div class = "col-md-3">
                                    Zone ID#{{ zone.id }}
                                </div>                        
                                <div class = "col-md-3">
                                    Length: {{ zone.length }} 
                                </div>
                                <div class = "col-md-3">
                                    Width: {{ zone.width }} 
                                </div>
                                <div class = "col-md-3">
                                    Position: {{ zone.x }}, {{ zone.y }} 
                                </div>
                                <div class = "col-md-3">
                                    Floor: {{ zone.floor.storey }}
                                </div>
                            </div>
                            
                        </li>
                    </blockquote>
                    {% endfor %}
                </ul>
        {% else %}
            <p>No zones available.</p>
        {% endif %}

{% endblock %}